body {
  background-color: green;
}
header {
  text-align: center;
  font-family: 'Bungee', cursive;
}

/*button {
  background-color: yellow;
  border: none;
  font-family: 'Bungee', cursive;
  font-size: 20px;
}*/



#road {
  background-color: gray;
  height: 200px;
  width: 1275px;
  position: fixed;
  top: 250px;
  z-index: -1;
}
#finish-line {
  font-family: 'Bungee', cursive;
  background-color: white;
  font-size: 28px;
  width: 40px;
  height: 200px;
  position: fixed;
  left: 1200px;
  padding-left: 8px;
}

#player-one {
  background-color: blue;
  width: 100px;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 25px;
  border-radius: 0px 15px 15px 0px;
  position: relative;
  top: 100px;
}

#player-two {
  background-color: red;
  width: 100px;
  height: 50px;
  margin-top: 25px;
  border-radius: 0px 15px 15px 0px;
  position: relative;
  top: 115px;
}
/*
#count-down {
  font-size: 300px;
  font-family: 'Bungee', cursive;
  color: transparent;
  z-index: 1;
  position: fixed;

}*/
